body{
    background-color:black;
}

.post{
    width: 40%;
    overflow:hidden;
    margin:0 auto;
    background-color:white;
    border-radius:5px;
    
}

.post-header {

    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding:12px;
    background-color:#ffffff;


}

.post-header-html{
    display:flex;
    align-items:center;

}

.html-logo-img{
    width:100%;
    height:100%;
    font-size:24px;
    justify-content:center;
    transform:translateY(25%);
}

.post-header-html-text{
    /* display:flex;
    flex-direction:column;
    justify-content:start; */
    margin-left:6px;
}

.post-header-html-text p{
    padding:0;
    margin:0;
    font-size:14px;
}





.menu-button i {
   font-size:28px;
   transform:translateY(25%);

}

.post-img {
    overflow:hidden;
    height: fit-content;
    width: auto;
    max-height:400px;

}


.post-img img{
    height: fit-content;
    width: 100%;


}

.post-body {
margin:16px 0;

}

p{
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
   padding:0 12px;

}
span.bold {
    font-weight: bold;
    justify-content: space-between;
}

.post-icons{

    display: flex;
    position: relative;
    padding:12px;
    
}

.heart-logo, .comment-logo,.plane-logo{

    margin-right: 4px;
}

.bookmark-logo {
    position: absolute;
    float: right;
    right:12px;  
}

